.app {
  font-family: Verdana, sans-serif;
}

.app-header {}

.app-body {}

.app-board {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.app-player {
  position: absolute;
  top: 100%;
  left: 0;
}

.app-layout {
  position: relative;
  margin: auto;
  width: 600px;
  height: 600px;
  border: 20px solid #c5c1c6;
  box-shadow: 0 10px 10px -5px #000000;
  background: #c9bfb7;
}

.checkers-layout {
  display: flex;
  flex-wrap: wrap;
}

.checkers-bk-spot {}

.checkers-piece {
  color: #4d4d4d;
  width: 60px;
  height: 60px;
  font-size: 43px;
  background: transparent;
  border: 3px solid transparent;
  padding: 0;
  box-sizing: border-box;
  margin-left: 60px;
}

.checkers-piece-odd {
  margin-left: 0;
}

.checkers-piece-active {
  border-color: #009688;
}

.checkers-piece-selected {
  border-color: #00af00;
}

.checkers-piece-dark {
  color: #3f51b5;
}

.checkers-piece-light {
  color: #e2e2e2;
}

.checkers-bg-spot {
  color: #4d4d4d;
  width: 60px;
  height: 60px;
  font-size: 43px;
  background: transparent;
  border: 3px solid transparent;
  padding: 0;
  box-sizing: border-box;
}

.checkers-bg-spot-odd {
  background-color: #95887f;
}
